.shop div {
    height: 300px;
    border-radius: 20px;

}
.shop .modulo {
    padding: 60px 0;
    margin-right: 50px;
}
.single-product {
    margin: 50px;
    padding: 20px;
    background-color: #eeeeee;

}

.single-product img {
    text-align: left;

}

.shop a:link {
    text-decoration: none;
    color: black;
}

.shop a:visited {
    text-decoration: none;
    color: #232323;
}

.single-product:hover {
    text-decoration: none;
    color: black;
    text-shadow: 1px 1px #797979;
}

.pagination {
    text-align: center;
    margin: 300px 30px 30px 30px;
}
.pagination a {
    color: black;
    padding: 8px 16px;
    text-decoration: none;
    font-family: Title;
    font-size: 30px;
}

.pagination a.active {
    background-color: #ffbe4d;
    color: white;
    border-radius: 5px;
}

.pagination a:hover:not(.active) {
    background-color: #ffbe4d;
    border-radius: 5px;
}